html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(231, 251, 255);
    font-size: 25;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    perspective: 800px;
}
#container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
footer{
    background-color: rgb(230, 230, 230);
    display: flex;
    justify-content: space-between;
    font-size: 18;
    padding: 0 10%;
    width: 80%;
    margin-top: 400px;
}
.darkfooter{
    background-color: rgb(59, 59, 59);
    color:white;
}
.darkfooter a{
    color:white;
}
.footer-part{
    display: flex;
}
.footer-item{
    padding: 50 40;
    display: flex;
    align-items: center;
    transition: all 0.4s;
}
.footer-item:hover{
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 24px 4px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 24px 4px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 24px 4px rgba(0, 0, 0, 1);
    background-color: rgb(184, 184, 184);
    color: rgb(80, 80, 80);
    transform: scale(1.3);
}
footer i{
    font-size: 45;
    padding: 0 5;
}
a{
    text-decoration: none;
    color: black;
}
.last{
    background-color: rgb(198, 198, 198);
    display: flex;
    justify-content: center;
    font-size: 19;
    padding: 200 10%;
    width: 80%;
    font-size: 15;
}
.darklast{
    background-color: rgb(30, 30, 30);
}

.question{
    margin:80px auto;
    width: 1100px;
    position: relative;
    height: 300px;
    transform-style: preserve-3d;
    transition: transform 600ms ease-in-out;
}
.question:hover{
    transform: rotateX(90deg);
}
.side{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    background-color: rgb(195, 227, 255);
    border: 2px ridge #000000;
    -webkit-box-shadow: 0px 0px 5px 6px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 5px 6px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 5px 6px rgba(66, 68, 90, 1);
}
.default-side{
    transform: translateZ(150px);
}
.darkdefault-side{
    background-color: rgb(0, 90, 169);
}
.hover-side{
    transform: rotateX(-90deg) translateZ(150px);
    background-color:rgb(126, 195, 255);
}
.darkhover-side{
    background-color:rgb(0, 47, 87)
}
.side h1{
    margin: 0;
}
#slider{
    margin: 0px auto;
    margin-top: 150px;
    width: 80%;
    height: 550;
    margin-bottom: 100px;
    z-index: -5;
}
#slider img{
    width: 100%;
    z-index: -10;
    height: 100%;
}
header{
    margin: 80 auto;
    font-size: 90;
    text-align: center;
    font-family: 'Righteous', cursive;
}

  * {
    scrollbar-width: auto;
    scrollbar-color: #013141 #ffffff;
  }

  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #013141;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }
  .item{
      background-color:rgb(210, 254, 239);
      border-radius: 10px;
      -webkit-box-shadow: 0px 0px 25px 5px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 25px 5px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 25px 5px rgba(66, 68, 90, 1);
    width: 50%;
    margin: 0px auto;
    padding: 20px;
    text-align: center;
    transition: all 0.5s;
  }
  .item:hover{
      transform: scale(1.3);
      -webkit-box-shadow: 0px 0px 32px 16px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 32px 16px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 32px 16px rgba(66, 68, 90, 1);
    background-color:rgb(66, 255, 192);
  }
  .swiper .swiper-button-next, .swiper .swiper-button-prev{
    color: white; 
  }
  .swiper .swiper-pagination-bullet-active{
      background-color: white;
  }
  .autor{
      width: 17%;
      background-color:rgb(192, 239, 255);
      padding: 2.5%;
      height: 500px;
      border-radius: 10px;
      text-align: center;
      -webkit-box-shadow: 0px 0px 15px 7px rgba(66, 68, 90, 1);
-moz-box-shadow: 0px 0px 15px 7px rgba(66, 68, 90, 1);
box-shadow: 0px 0px 15px 7px rgba(66, 68, 90, 1);
    transition: all 0.5s;
  }
  .autor img{
      border-radius: 50%;
      width: 200px;
      height: 200px;
      margin-top: 10px;
      margin-bottom: 5px;
  }
  #kolumny{
      display: flex;
      justify-content: space-between;
  }
  .autor h3{
      height: 70px;
  }
  .autor:hover{
    -webkit-box-shadow: 0px 0px 29px 7px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 29px 7px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 29px 7px rgba(66, 68, 90, 1);
    background-color:rgb(147, 228, 255);
    transform: scale(1.17);
}
#autorzy{
    margin-top: 200px;
}
#autorzy h1{
    text-align: center;
    margin-bottom: 100px;
    margin-top: 80;
}

ul{
    list-style: none;
}
.menu {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 700px;
  }
  
  .menu > li > a {
    display: block;
    text-align: center;
    text-decoration: none;

  }
  
  .menu>li>ul>li{
    text-align: center;
  }
  .menu ul {
    height: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    transition: all .5s ease;
    top: 45px;
    width: 700px;
    z-index: 1000;
  }
  
  .menu li:hover ul {
    height: 200px;
    opacity: 1;
    transform: translateY(35px);
    z-index: 1000;
  }
  
  .menu ul a {
    color: #000;
    display: block;
    z-index: 1000;
  }
  .nav-pytanie{
      background-color:cornflowerblue;
      padding: 20px 0;
      margin: 4 0;
      -webkit-box-shadow: 0px 0px 13px 0px rgba(66, 68, 90, 1);
-moz-box-shadow: 0px 0px 13px 0px rgba(66, 68, 90, 1);
box-shadow: 0px 0px 13px 0px rgba(66, 68, 90, 1);
transition: all 0.7s;
z-index: 100;
  }
  .nav-pytanie:hover{
    background-color:rgb(65, 130, 250);
    transform: scale(1.1);
    -webkit-box-shadow: 0px 0px 25px 7px rgba(66, 68, 90, 1);
-moz-box-shadow: 0px 0px 25px 7px rgba(66, 68, 90, 1);
box-shadow: 0px 0px 25px 7px rgba(66, 68, 90, 1);

  }
  #wywiad{
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      width: 1000px;
  }
  #wywiad video{
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
  }
  #switch{
      width: 100px;
      height: 100px;
      position: fixed;
      top: 0;
      right: 50;
  }
  .button{
      border: none;
      cursor: pointer;
      padding: 20px;
      border-radius: 10px;
      font-size: 50;
      background-color:#013141;
      color: white;
      -webkit-box-shadow: 0px 0px 24px 3px rgba(66, 68, 90, 1);
-moz-box-shadow: 0px 0px 24px 3px rgba(66, 68, 90, 1);
box-shadow: 0px 0px 24px 3px rgba(66, 68, 90, 1);
transition: all 0.5s;
  }
  .button:hover{
      background-color: #006d92;
      transform: scale(1.3);
  }
  .darkbutton{
      color: black;
      background-color:#a1e7ff;
  }
  .darkautor{
      background-color: rgb(0, 75, 100);
  }
  .darkautor:hover{
    background-color: rgb(0, 112, 150);
  }
  

  body {
	margin: 0;
  }
  
  .grid {
	position: relative;
    display: flex;
	justify-content: center;
	align-content: center;
	height: 300px;
    margin-bottom: 200px;
  }
  
  .grid img {
	width: 200px;
	height: 200px;
	cursor: pointer;
    margin: 40px;
    transition: all 0.4s ease-in-out;
  }
  .grid img:hover{
    -webkit-box-shadow: 0px 0px 27px 5px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 27px 5px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 27px 5px rgba(66, 68, 90, 1);
  }
  #lightbox {
	position: absolute;
	z-index: 1000;
	top: 0;
	width: 100%;
	height: 100%;
	display: none;
  }
  .dark-lightbox{
	background-color: rgba(0, 0, 0, .8);
  }
  #lightbox.active {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  .miniaturka img{
    width: 80%;
    height: 400px;
  }
  .miniaturka{
    margin-bottom: 150px;
  }
  .wywiad h1{
    margin-bottom: 180px;
  }

  .miniaturka img{
    margin-top: 50px;
    -webkit-box-shadow: 0px 0px 26px 5px rgba(66, 68, 90, 1);
-moz-box-shadow: 0px 0px 26px 5px rgba(66, 68, 90, 1);
box-shadow: 0px 0px 26px 5px rgba(66, 68, 90, 1);
transition: all 0.4s ease-in-out;
  }
  .miniaturka img:hover{
    transform: scale(1.3);
    -webkit-box-shadow: 0px 0px 27px 15px rgba(66, 68, 90, 1);
-moz-box-shadow: 0px 0px 27px 15px rgba(66, 68, 90, 1);
box-shadow: 0px 0px 27px 15px rgba(66, 68, 90, 1);
  }
  #lightbox img {
	width: 75%;
	height: 1400px;
	padding: 4px;
	background-color: black;
	border: 2px solid white;
  }
  .button-lightbox{
      cursor: pointer;
	  position: absolute;
	  width: 100px;
	  height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 100;
	  right: 15%;
      top: -550px;
      display: none;
	z-index: 10000;
  }
  
